@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif; /*Here sans serif is fallback font*/
}

h1{
    font-weight: 800;
    font-size: 28px;
    text-decoration: underline;
    text-decoration-color: rgb(4, 4, 107);
    text-decoration-style: dotted;
    text-decoration-thickness: 5px;
    text-align: center;
}

h2{
    font-family: "Google Sans", sans-serif;
    font-weight: 700;
    font-size: 23px;
    font-style: italic;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: rgb(3, 66, 45);
    text-decoration-style: wavy;
    text-indent: 10px;
}

p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: justify;
}

#colors{
    /* 1st Way: Keywords */
    /* color: darkslategray; */
    /* 2nd Way: Using Hex Codes */
    color: #36311F;
    /* 3rd Way: Using RGB*/
    /* color:rgb(14, 51, 17) */
    /* 4th Way: Using RGBA */
    /* color: rgba(14, 73, 129, 0.836); */
    /* 5th Way: Using HSL */
    /* color: hsl(49, 89%, 7%); */
}