@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 0 */
*{
    font-family: "Poppins", sans-serif;
}
/* 1 */
h1{
    font-weight: 650;
    text-decoration: underline;
    text-align: center;
    text-decoration-style: wavy;
    color:rgb(0, 48, 48)
}
/* 1 */
h2{
    font-weight: 600;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-indent: 10px;
}
/* 10 */
.cpurple{
    color: darkmagenta !important;
    /* Here, if we write !important, then it will have maximum specificity, even more then inline style. */
}
/* 11 */
h1.cblue{
    color: darkblue;
}
/* 10 */
.cred{
    color: darkred;
}

/* According to Cascade Algorithm, if the selector is same, the latest change will be implemented, just like js programming where variables are changed like this */

/* Here 2nd point is that specificity is in order : inline> id> class or attribute> element> universal */