body{
    font-family: 'Times New Roman', Times, serif;
}

div{
    background-color:aquamarine;
    color:rgb(0, 49, 0)
}

span{
    background-color: aqua;
    color: rgb(2, 16, 48);
}

#box{
    background-color: antiquewhite;
    color:rgb(52, 3, 3)
}

#imp{
    background-color: rgb(172, 136, 206);
    color: rgb(12, 22, 3);
}