body{
    background-color: #212121;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

.firstdiv{
    background-color: darkcyan;
}

.span1{
    background-color: darkgreen;
}